  <!--  #######################     CAROUSEL   ########################   -->


<div id="home-carousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#home-carousel" data-slide-to="0" class="active"></li>
    <li data-target="#home-carousel" data-slide-to="1"></li>
    <li data-target="#home-carousel" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div id="description">
      <h1>Set up Shop</h1><br>

        <%= form_tag shops_path, method: :get do %>
          <span class = 'search-bar'>
            <%= text_field_tag :search, params[:search], :placeholder => 'e.g. Paris, Lyon, Lille...' %>
            <%= submit_tag 'Search', :name => nil %>
          </span>
        <% end %><br>

      <h5>Find and rent pop-up retail spaces in your city.</h5>
      <!-- link_to "Browse our shops", shops_path, class: "btn btn-success btn-lg col-xs-offset-6", id: "call-to-action" -->
    </div>
    <div class="item active">
      <img src="http://cdn.cstatic.net/images/gridfs/4fd71f3785216d677b005f85/IMG_6917.JPG" alt="store">
      <div class="carousel-caption">
        <p>One of many cool shops</p>
      </div>
    </div>
    <div class="item">
      <img src="http://bestdesignprojects.com/wp-content/uploads/2013/10/moma20design20store20soho20interior1.jpg" alt="store">
      <div class="carousel-caption">
       <p>One of many cool shops</p>
      </div>
    </div>

  </div><br>

  <footer>
  <div class='like-fb'>
    <iframe src="//www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2Fshowpcase&amp;width&amp;layout=standard&amp;action=like&amp;show_faces=true&amp;share=true&amp;height=80" scrolling="no" frameborder="0" style="border:none; overflow:hidden; height:80px;" allowTransparency="true">
    </iframe>
  </div>

</footer>

 <!-- Controls -->
  <a class="left carousel-control" href="#home-carousel" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#home-carousel" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>









<!-- rails g AddColumnsToShop latitude:float longitude:float ##################################################################### -->
