// Place all the styles related to the shops controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.missing_picture{
  opacity: 0.3;
}

.shop {
  height: 500px;

}

.shops-column {
  height: 500px;
  overflow: scroll;
}

.shop_info h3{
  text-align: center;
}



.picture_edit {
  margin: 20px;
  text-align: center;
}

.shop_picture {
  width: 100%;
  text-align: center;
}

.buttons {
  margin-top: 10px;
}

.fileUpload {
  position: relative;
  overflow: hidden;
  margin: 10px;
}
.fileUpload input.upload {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
}
s
.map_box {
  padding : 0px;
}
